
.clearfix:after{visibility:hidden;display:block;font-size:0;content: " ";clear:both;height:0;}
.clearfix{*zoom:1;}

$main-bg = #f4f8fb
$main-red = #DC1829
$main-blue = #3887e1
$font-grey = grey
$we-green = #43A138
$border-color = #f1f1f1
$font-size-normal = .4rem
$font-size-small = .36rem
$font-size-big = .5rem
$bom-height = 1.4rem

.fl-left 
	float left

.fl-right
	float right

.mt-1
	margin-top 1rem !important

.mt-2
	margin-top 2rem !important

.loading
	margin 5rem auto

.color-red
	color $main-red

.color-blue
	color $main-blue

.color-green
	color $we-green

.color-font-grey
	color $font-grey

.font-size-normal
	font-size $font-size-normal

.font-size-small 
	font-size $font-size-small
	
.yet-empty
	margin-top 1rem
	font-size $font-size-normal

